.img-fluid {
    margin-top: 20px;
}
.btn-secondary{
    margin-top: 20px;
}
#pratap-gad{
    /* height: auto; */
    margin-top: 40px;
}
#lohgad{
    margin-top: 65px;
}
#rajgad{
    margin-top: 40px;
}
h4{
    margin-bottom: 30px;
}
.nav-link{
    cursor: pointer;
}
#logo{
    vertical-align: middle;
    width: 25px;
}
#search-btn{
    border: 1px solid #D5D5D5;
    color: #D5D5D5;
}