a{
    text-decoration: none;
}
.img-fluid {
    margin-top: 20px;
}
#main-img{
    width: auto;
}
.btn-primary{
    margin-top: 20px;
}
#mainNav.navbar-shrink #login-btn {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}
.btn-secondary{
    margin-top: 20px;
}
.btn-primary:hover{
    transform: 300ms;
    background: #00a4b9;
    z-index: 1;
    box-shadow: 2px 2px 2px #000;
}
.btn-secondary:hover{
    transform: 300ms;
    background: #ff800a;
    z-index: 1;
    box-shadow: 2px 2px 2px #000;
}
#pratap-gad{
    /* height: auto; */
    margin-top: 40px;
}
#lohgad{
    margin-top: 65px;
}
#rajgad{
    margin-top: 40px;
}
h4{
    margin-bottom: 30px;
}
.nav-link{
    cursor: pointer;
}
#logo{
    vertical-align: middle;
    width: 25px;
}
#login{
    margin-top: 15px;
}
#login-btn{
    border: 1px solid #00264d;
    color: #D5D5D5;
    height: 50px;
    padding-top: 15px;
}
.read-more{
    text-decoration: none;
    color: #fff;
}
#pointer{
    cursor: pointer;
}
#phone{
    margin-bottom: 10px;
}
/* @media (max-width: 992px) {
    .form-control, #login-btn{
        display: none;
    }
  } */
  /* @media (min-width: 768px){
    .container-md, .container-sm, .container {
        max-width: 1500px;
        }
}
@media (max-width: 768px){
.container-md, .container-sm, .container {
    max-width: 900px;
    }
}
@media (max-width: 576px){
    .container-md, .container-sm, .container {
        max-width: 900px;
    }
} */