body{
    background-color: rgb(254, 255, 188);
}
h1{
    margin-top: 80px;
    margin-left: 20px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: #fff;
}
nav>a:hover{
    color: #fff;
}
#mainNav{
    color: #fff;
}
#mainNav .navbar-toggler{
    font-size: 80%;
    padding: 0.75rem;
    color: #ffef11;
    border: 1px solid #ffef11;
}
#mainNav .navbar-toggler:hover{
    transition: 300ms;
    border: 2px solid;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffef11;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}
#title:hover{
    color: #fff;
}
#logo{
    vertical-align: middle;
    width: 25px;
}
p{
    margin: 20px;
}
.footer{
    padding: 1rem;
    cursor: default;
}
#no-bullets{
    list-style-type: none;
}
/* iframe{
    border: 1px solid black;
} */
@media (min-width: 768px){
    .container-md, .container-sm, .container {
        max-width: 1800px;
        }
}
@media (max-width: 768px){
.container-md, .container-sm, .container {
    max-width: 900px;
    }
}
@media (max-width: 576px){
    .container-md, .container-sm, .container {
        max-width: 900px;
    }
}